.wm-shell {
  display: grid;
  grid-template-rows: var(--wm-topbar-h) 1fr;
  min-height: 100vh;
}

.wm-shell__body {
  display: grid;
  grid-template-columns: var(--wm-sidenav-w) 1fr;
}

.wm-shell__main {
  padding: 16px;
}

.wm-shell__page {
  max-width: 1920px;
  margin: 0 auto;
}
